<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="TestConn"
         connectionString="Data Source=BRKSVP1804\BRKSQL01;Initial Catalog=dhbp02;User Id=fleet_rw_user;Password=fleetrwuser;"
         providerName="System.Data.SqlClient" />
		<add name="ProdConn"
         connectionString="Data Source=BRKSVP2133\BRKSQL01;Initial Catalog=dhbp02;User Id=fleet_rw_user;Password=fleetrwuser;"
         providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>